/* Adjust image position */
main {
  margin-top: 100px;
}

#vaccination_table tr > *:not(:first-child) {
  text-align: right;
}

/* Adjust scroll position */
h4 {
  scroll-margin-top: 118px;
}

.scrollable {
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

/* Center loader within div */
.loaderContainer {
  margin: 100px auto;
  display: block;
}

.loaderContainer span:first-of-type {
  font-weight: bold;
}

.loaderContainer img {
  margin-bottom: 6px;
}

@media screen and (max-width: 992px) {
  main {
    margin-top: 220px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 214px;
  }
}
