/* Adjust image position */
main {
  margin-top: 100px;
}

#vaccination_table tr > *:not(:first-child) {
  text-align: right;
}

/* Adjust scroll position */
h4 {
  scroll-margin-top: 118px;
}

.scrollable {
  overflow: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

/* Center loader within div */
.loader {
  margin: 100px auto;
  display: block;
}
